{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <h1>Intervention</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervention.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ intervention.startdate ? intervention.startdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SmallDescription</th>
                <td>{{ intervention.smallDescription }}</td>
            </tr>
            <tr>
                <th>FullDescription</th>
                <td>{{ intervention.fullDescription }}</td>
            </tr>
            <tr>
                <th>TimeLength</th>
                <td>{{ intervention.timeLength }}</td>
            </tr>
            <tr>
                <th>Employee</th>
                <td>{{ intervention.employee }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ intervention.Client }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('intervention_index') }}">back to list</a>

    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>

    {{ include('intervention/_delete_form.html.twig') }}
{% endblock %}
