{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user.address }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Temps travaillé</h2>
    <ul>
        {% for work in worked %}
            <li> {{ work.timeLength }}</li>
        {% endfor %}
    </ul>

    <h2>intervention à venir</h2>
    <ul>
        {% for interv in futurIntervention %}
            <li> {{ interv.smallDescription }}</li>
        {% endfor %}
    </ul>

    <h2> intervention passées</h2>

    <ul>
        {% for interv in pastIntervention %}
            <li> {{ interv.smallDescription }}</li>
        {% endfor %}
    </ul>




    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
